[submodule "Cambridge-PD"]
	path = Cambridge-PD
	url = git@github.com:Lattice-Works/Cambridge-PD.git
[submodule "Burlington-PD"]
	path = Burlington-PD
	url = git@github.com:Lattice-Works/Burlington-PD.git
[submodule "Middlesex"]
	path = Middlesex
	url = git@github.com:Lattice-Works/Middlesex.git
[submodule "NorthReading-PD"]
	path = NorthReading-PD
	url = https://github.com/Lattice-Works/NorthReading-PD.git
[submodule "Acton-PD"]
	path = Acton-PD
	url = https://github.com/Lattice-Works/Acton-PD.git
[submodule "Arlington-MA-PD"]
	path = Arlington-MA-PD
	url = https://github.com/Lattice-Works/Arlington-MA-PD.git
[submodule "Billerica-MA-PD"]
	path = Billerica-MA-PD
	url = https://github.com/Lattice-Works/Billerica-MA-PD.git
[submodule "Chelmsford-MA-PD"]
	path = Chelmsford-MA-PD
	url = https://github.com/Lattice-Works/Chelmsford-MA-PD.git
[submodule "Lowell-MA-PD"]
	path = Lowell-MA-PD
	url = https://github.com/Lattice-Works/Lowell-MA-PD.git
[submodule "Reading-MA-PD"]
	path = Reading-MA-PD
	url = https://github.com/Lattice-Works/Reading-MA-PD.git
